#ignore these file locations
wbot/__pycache__/*
wbot/.pytest_cache/*



wbot/UnitTesting/__pycache__/*
wbot/UnitTesting/.pytest_cache/*
wbot/UnitTesting/.ipynb_ceckpoints/*

.pytest_cache/*
.ipynb_checkpoints/*
.__pycache__/*
.cache/v/*
