name: Continuous Integration Checks
run-name: ${{ github.actor }} continuous integration checks
on: [push]
jobs:
 Integrated-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker run -d -t --name=conda continuumio/miniconda3
      - run: docker build -t conda .
